<template>
  <div id="createList">
    <div class="container-created">

  <div class="create_list_wrapper">
    <div class="row" id="top_row">
      <div class="col-md-6 col_title"><h1>Create a List</h1></div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </button>
      </div>
    </div>
     
    <div class="row">
      <div class="col-md-6">List name</div>
       
    </div>
    <div class="row">
      <div class="col-md-6 list_title"><input v-model="list_name" type="text"/>{{list_name}}</div>
    </div>
  </div>
    <div class="create_btn_wrapper" id="bottom_row">
          <button class="btn btn-primary create_btn">Create</button>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      name: 'createList',
      list_name: ''
    }
  }
}
</script>

<style>
.create_btn{
      margin-left: 45%;
      font-size:25px;
    }
    .container-created{
      margin-left:300px;
      
    }
    .create_list_wrapper{
      margin: auto;
      width: 800px;
    }
    .create_btn_wrapper{
      width: 840px;
        margin: 10px 0px 10px 130px;
    }
    #top_row{
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-radius: 25px;
      background: #222;
      color:#9d9d9d;
    }
    #bottom_row{
      /*border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-radius: 25px;*/
    }
    .row{
      font-size:25px;
    }
    
    .close{
      font-size:36px;
      color: #9d9d9d;
    }

    .list_title{
      font-size:25px;
    }
</style>
