<template>
  <div id="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <!-- <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> WISHLIST</a> -->
      </div>
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li> -->
        </ul>
      </div>
    </div>
  </nav>

  </div>
</template>

<script>
export default {
  data () {
    return {
      name: 'navbar'
    }
  }
}
</script>

<style>
body {
      padding-top: 70px;
      font-family: Raleway;
      
    }
</style>
